{% extends 'base.html.twig' %}

{% block title %}Advert index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Liste des annonces</h1>
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }} flash-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Email</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Catégorie</th>
                <th>Nombre de photos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            <tr>
                <td>{{ advert.id }}</td>
                <td>{{ advert.title }}</td>
                <td>{{ advert.content }}</td>
                <td>{{ advert.author }}</td>
                <td>{{ advert.email }}</td>
                <td>{{ advert.price }}</td>
                <td>
                    {% if advert.state == 'draft' %}
                        <div class="waiting_state"
                        >En attente de publication</div>
                    {% elseif advert.state == 'published' %}
                        <div class="published_state"
                        >Publiée</div>
                    {% elseif advert.state == 'rejected' %}
                        <div class="rejected_state"
                        >Rejetée</div>
                    {% endif %}
                </td>
                <td>{{ advert.category.name }}</td>
                <td>{{ advert.photos|length }}</td>
                <td>
                    <a href="{{ path('app_admin_advert_show', {'id': advert.id}) }}" class="btn btn-show btn-advert">Consulter</a>
                    {% if advert.state == 'draft' %}
                        <form action="{{ path('app_admin_advert_publish', {'id': advert.id}) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-new btn-advert">Publier</button>
                        </form>
                    {% endif %}
                    {% if advert.state in ['draft', 'published'] %}
                        <form action="{{ path('app_admin_advert_reject', {'id': advert.id}) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-advert">Rejeter</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune annonce trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(adverts) }}
    <div class="back-to-list">
        <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary">Retour au menu</a>
    </div>
        </div>

{% endblock %}
